
.front #zone2 .prepare-yourself .linkid910278 .btn-primary:before {
    background-image: url(/theme/parisgamesweek_desktop/img/icon-buy.svg) !important;
  }
.content908054 .article-content {
    width: 781px;
}
@media only screen and (max-width: 991.98px){
.site-banner__location {
    white-space: break-spaces !important;
}
}
